.bg-flat-1{
    background-color:#34495e !important;
}
.text-flat-1{
    color:#34495e !important;
}

.bg-flat-2{
    background-color:#2c3e50 !important;
}
.text-flat-2{
    color:#2c3e50 !important;
}

.bg-flat-3{
    background-color:#95a5a6 !important;
}
.text-flat-3{
    color:#95a5a6 !important;
}

.bg-flat-4{
    background-color:#7f8c8d !important;
}
.text-flat-4{
    color:#7f8c8d !important;
}

.bg-flat-5{
    background-color:#9b59b6 !important;
}
.text-flat-5{
    color:#9b59b6 !important;
}

.bg-flat-6{
    background-color:#8e44ad !important;
}
.text-flat-6{
    color:#8e44ad !important;
}

.bg-flat-7{
    background-color:#ecf0f1 !important;
}
.text-flat-7{
    color:#ecf0f1 !important;
}

.bg-flat-8{
    background-color:#bdc3c7 !important;
}
.text-flat-8{
    color:#bdc3c7 !important;
}


.bg-flat-9{
    background-color:#3498db !important;
}
.text-flat-9{
    color:#3498db !important;
}


.bg-flat-10{
    background-color:#2980b9 !important;
}
.text-flat-10{
    color:#2980b9 !important;
}

.bg-flat-11{
    background-color:#e74c3c !important;
}
.text-flat-11{
    color:#e74c3c !important;
}

.bg-flat-12{
    background-color:#c0392b !important;
}
.text-flat-12{
    color:#c0392b !important;
}


.bg-flat-13{
    background-color:#2ecc71 !important;
}
.text-flat-13{
    color:#2ecc71 !important;
}

.bg-flat-14{
    background-color:#27ae60 !important;
}
.text-flat-14{
    color:#27ae60 !important;
}

.bg-flat-15{
    background-color:#e67e22 !important;
}
.text-flat-15{
    color:#e67e22 !important;
}


.bg-flat-16{
    background-color:#d35400 !important;
}
.text-flat-16{
    color:#d35400 !important;
}


.bg-flat-17{
    background-color:#1abc9c !important;
}
.text-flat-17{
    color:#1abc9c !important;
}

.bg-flat-18{
    background-color:#16a085 !important;
}
.text-flat-18{
    color:#16a085 !important;
}


.bg-flat-19{
    background-color:#f1c40f !important;
}
.text-flat-19{
    color:#f1c40f !important;
}

.bg-flat-20{
    background-color:#f39c12 !important;
}
.text-flat-20{
    color:#f39c12 !important;
}