@font-face{
    font-family:"IRANSansDNFaNum";
    src:url('../fonts/IRANSansDNFaNum/IRANSansDNFaNum.eot');
    src:
        url('../fonts/IRANSansDNFaNum/IRANSansDNFaNum.woff') format("woff"),
        url('../fonts/IRANSansDNFaNum/IRANSansDNFaNum.otf') format('opentype'),
        url('../fonts/IRANSansDNFaNum/IRANSansDNFaNum.svg#Yekan') format('svg');
}